/* .language {
    background-color: black;
    height: 100vh;
  } */

.container {
  color: white;
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.left-child-container {
  width: 30%;
  padding-right: 10%;
}

.right-child-container {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 150;
  overflow-y: auto;
}
.flex {
  display: flex;
}

.flex img {
  width: 15%;
  height: auto;
  max-width: 100%;
}

.verticalCenter {
  /* font-size:small; */
  /* border: 1px solid white; */
  vertical-align: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  /* box-sizing: border-box; */
}

.hero-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  display: flex;
  justify-content: center;
}

.hero-container h1 {
  color: white;
  font-size: xxx-large;
}

.hero-left-container {
  width: 30%;
  /* border: 1px solid white; */
}

.header-container {
  display: flex;
  justify-content: center;
  /* border: 1px solid white; */
  color: white;
}

.header-container a {
  color: grey;
  text-decoration: none;
}
/* 
.header-container a img{

    padding-top: 40px;
    border:1px solid white;
} */

body {
  color: grey;
}

.message-container {
  color: grey;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.message-container a {
  color: #4daafc;
  padding-right: 3px;
}
